{% extends "base.html" %}
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="ag-hor-center">

        {% if is_readonly %}
        <div class="alert alert-info" role="alert">
            <strong>Информация</strong>
            У Вас не достаточно прав для создания аккаунтов
        </div>
        {% else %}
        <div class="row">
        {% if is_super_admin %}
            <div class="col-md-3">

                <div class="alert alert-info" role="alert">
                    <strong>Создание аккаунта администратора</strong>
                </div> 

                <div class="input-group input-group ag-hor-center ag-thin">
                    <input type="text" id="login" class="form-control ag-input" placeholder="Логин">
                </div>
                <br>

                <div class="input-group input-group ag-hor-center ag-thin">
                    <input type="text" id="password" class="form-control ag-input" placeholder="Пароль">
                </div>
                <br>

                <div class="input-group input-group ag-hor-center ag-thin">
                    <form action="">
                        <label><input selected type="radio" name="type_admin" id="admin_vus" value="admin_vus"class="ag-input">   По ВУС</label>
                        <div class="form-group">
                          <select class="form-control" id="vus_for_admin">
                              {% for vus in vuses %}
                              <option value="{{vus.id}}">{{vus.to_string()}}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <label><input type="radio" name="type_admin" id="admin_readonly" value="admin_readonly" class="ag-input">   Только для чтения</label>
                    </form>
                </div>
                <br>

                <button class="btn btn-success ag-hor-center" type="button" id="create-but-1">
                    Создать аккаунт
                </button>
                <br>

            </div> 
        {% endif %}
            <div class="col-md-9"> 

                <div class="alert alert-info" role="alert">
                    <strong>Создание аккаунта студента(-ов)</strong>
                </div>

                <div class="alert alert-info" role="alert">
                    <strong>Информация</strong>
                    Файл с ФИО студентов должен быть следующего формата: таблица Excel в формате .xlsx, в первом столбце которой фамилии студентов, во втором - имена, в третьем - отчества
                </div>

                <div id="alert-placeholder">
                </div>

                <table class="table table-hover table-users table-striped">

                    <thead>
                        <tr>
                            <th>Фамилия Имя Отчество студентов</th>
                            <th>ВУС</th>
                            <th>Год поступления</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                    <tr>
                        <td>
                            <label class="btn btn-default btn-file">
                                <div>Выбрать файл</div>
                                <input type="file" style="display: none;" id="select-file">
                                <script>prepareFileUploader('select-file');</script>
                            </label>
                        </td>

                        <td>
                            <div class="form-group">
                              <select class="form-control" id="vus">
                                  {% for vus in vuses %}
                                  <option>{{vus.to_string()}}</option>
                                  {% endfor %}
                              </select>
                            </div>
                        </td>

                        <td>
                            <div class="input-group input-group ag-hor-center ag-thin">
                                <input type="text" id="completionYear" class="form-control ag-input">
                            </div>  
                        </td>

                        <td>
                            <button class="btn btn-success btn-file" id="status-btn" onclick="createAccounts();">Добавить</button>
                        </td>

                        <td>
                            <a href="/static/user_data/logins.xlsx" download="Logins">
                                <button class="btn btn-success" id="downloadLoginsBtn" disabled>Скачать</button>
                            </a>
                        </td>
                        
                    </tr>
                    </tbody>

                </table>

                <!--a class="file-input-wrapper btn btn-default "><span>Выбрать файл</span><input type="file" style="left: -182.5px; top: 8px;"></a>-->
                <!-- <button class="btn btn-success ag-hor-center" id="create-but-2">Создать аккаунты</button> -->
             </div>
        </div> 
        {% endif %}
    </div>

{% endblock %}