{% extends "base.html" %}
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="ag-hor-center">

        {% if not is_super_admin %}
        <div class="alert alert-info" role="alert">
            <strong>Информация</strong>
            У Вас не достаточно прав для создания аккаунтов
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-9"> 

                <div class="alert alert-info" role="alert">
                    <strong>Добавление ВУС</strong>
                </div>
                <div class="well well-lg section_element_template_div">
                    {% for field in fields %}
                    <div class="input-group">
                        <span class="input-group-addon"> {{field.rus}} </span>
                        <input class="form-control" id="{{field.eng}}"  placeholder="{{field.placeholder}}" type="text" value="">
                    </div>
                    {% endfor %}
                </div>
                <button class="btn btn-success ag-hor-center" type="button" id="add_vus_btn">
                    Добавить
                </button>
                <!--a class="file-input-wrapper btn btn-default "><span>Выбрать файл</span><input type="file" style="left: -182.5px; top: 8px;"></a>-->
                <!-- <button class="btn btn-success ag-hor-center" id="create-but-2">Создать аккаунты</button> -->
             </div>
        </div> 
        {% endif %}
    </div>

{% endblock %}