{% extends "base.html" %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="ag-hor-center">

    <div class="alert alert-info" role="alert">
        Руководство по созданию шаблонов документов
        <a href="/static/user_data/Keywords.xlsx" download="Howto">
            <button type="button" class="btn btn-primary">Скачать</button>
        </a>
    </div>

    <table class="table table-hover table-users table-striped">

        <thead>
            <tr>
                <th>Документ</th>
                <th>ВУС</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        {% for doc in docs %}
        <tr>
            <td>{{doc.name}}</td><td>{{vuses_name_by_id[doc.vus_id]}}</td>
            {% if not is_readonly %}
            <td><button class="btn btn-default" id="delete-btn" onclick="delDoc({{doc.id}});">Удалить</button></td>
            {% endif %}
            <td><a href="/static/user_data/documents/{{doc.filename}}" download><button type="button" class="btn btn-default">Скачать</button></a></td>
        </tr>
        {% endfor %}
        {% if not is_readonly %}
        <tr>
            <td>
                <div class="input-group">
                    <input id="doc_name" class="form-control" name="doc_name" placeholder="Название">
                </div>
            </td>

            <td>
                <div class="form-group">
                  <select class="form-control" id="vus">
                      {% for vus in vuses %}
                      <option>{{vus.to_string()}}</option>
                      {% endfor %}
                  </select>
                </div>
            </td>

            <td>
                <label class="btn btn-default btn-file">
                    <div>Выбрать файл</div>
                    <input type="file" style="display: none;" id="select-file">
                    <script>prepareFileUploader('select-file');</script>
                </label>
            </td>

            <td>
                <button class="btn btn-success btn-file" id="status-btn" onclick="addDocument();">Добавить</button>
            </td>
        </tr>
        {% endif %}
        </tbody>

    </table>

</div>

{% endblock %}