{% extends "base.html" %}
{% block content %}

<div class="ag-hor-center">

    <h2>В процессе</h2>
    <div class="ag-table-view-control">
        <!-- Here will be panel for filtering data -->
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>ФИО</th><th>ВУС</th><th>Кнопки</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user['students_info']['basic_information']['last_name']}} {{user['students_info']['basic_information']['first_name']}} {{user['students_info']['basic_information']['middle_name'] }}</td>
            {% if user['vus_id'] %}
            <td>{{vuses[user['vus_id']].to_string()}}</td>
            {% else %}
            <td>Не заполнено</td>
            {% endif %}
            <td>
                <a href="{{ url_for('to_page_approve_user', user_id=user.id)}}"><button class="btn btn-default" title="Проверить">{% if not is_readonly %}Проверить{% else %}Посмотреть{% endif %}</button></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}