{% extends "base.html" %}
{% block content %}


<div class="ag-hor-center">


    <div class="page-header"> <h1>Пользователи</h1> </div>

    <div class="ag-table-view-control row" id="to-download">
        <!-- Here will be panel for filtering data -->
    </div>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="checkallUsers">
                </th>

                <th width="15%">Год поступления</th>
                <th width="10%">ВУС</th>
                <th width="30%">Фамилия</th>
                <th width="17%">Имя</th>
                <th width="17%">Отчество</th>
                <th>Анкета</th>

            </tr>
            </thead>
            <tbody>
            {% for user in users %}

                <tr>
                    <td><input type="checkbox" class="cb-user" value="{{user['id']}}"></td>
                    <td>{{user['year']}}</td>
                    <td>{{user['vus']}}</td>
                    <td>{{user['lastName']}}</td>
                    <td>{{user['firstName']}}</td>
                    <td>{{user['middleName']}}</td>
                    <td> <a href="/inprocess/{{ user['id'] }}"> <button type="button" class="btn btn-default">Посмотреть</button></a></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>


    <br>
    <div class="page-header"> <h1>Документы</h1> </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <input type="checkbox" id="checkallDocuments">
            </th>
            <th>Документ</th>
        </tr>
        </thead>
        <tbody>
            {% for doc in docs %}
            <tr>
                <td><input type="checkbox" class="cb-doc" value="{{doc['id']}}"></td>
                <td>{{doc['name']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    {% if not is_readonly %}
    <button type="button" id="generateBtn" class="ag-hor-center btn btn-lg btn-success" value="Сгенерировать">Сгенерировать</button>
    <a id="downloadHref"><button type="button" class="ag-hor-center btn btn-lg btn-success" value="Скачать" id="downloadBtn" disabled>Скачать</button><a>
    {% endif %}
</div>
{% endblock %}