{% extends "base.html" %}
{% block content %}


<div class="ag-hor-center">


    <div class="page-header"> <h1>Пользователи</h1> </div>

    <div class="ag-table-view-control row">
        <!-- Here will be panel for filtering data -->
    </div>

    <div class="row">
        <table class="table" id="checkbox-1">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="checkall1" onchange="checkAllElements(1);">
                </th>
                <th>Фамилия</th><th>Имя</th><th>Отчество</th><th>Место рождения</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if not user.active %}
                    <tr>
                        <td><input type="checkbox" class="cb-user" id="cbu{{user.id}}"></td>
                        <td>{{students_info[user.id].last_name}}</td><td>{{students_info[user.id].first_name}}</td><td>{{students_info[user.id].middle_name}}</td>
                        <td>{{students_info[user.id].birth_place}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>


    <br>
    <div class="page-header"> <h1>Документы</h1> </div>


    <table class="table table-striped" id="checkbox-2">
        <thead>
        <tr>
            <th>
                <input type="checkbox" id="checkall2" onchange="checkAllElements(2);">
            </th>
            <th>Документ</th>
        </tr>
        </thead>
        <tbody>
            {% for doc in docs %}
            <tr>
                <td><input type="checkbox" class="cb-doc" id="cbd{{loop.index - 1}}"></td>
                <td>{{doc.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <button type="button" id="gen-button" class="ag-hor-center btn btn-lg btn-success" onclick="genAndDownload();">Сгенерировать</button>

</div>
{% endblock %}