{% extends "base.html" %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="ag-hor-center">

    <table class="table table-hover table-striped">
        <div align="center"><h3>Условия поиска</h3></div>
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Год поступления</th>
                <th>ВУС</th>
                <th>Анкета одобрена</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <div class="input-group">
                    <input id="searchLastname" class="form-control" name="lastname" placeholder="Фамилия">
                </div>
            </td>

            <td>
                <div class="input-group">
                    <input id="searchYear" class="form-control" name="searchYear" placeholder="Год поступления">
                </div>
            </td>

            <td>
                <div class="form-group">
                  <select class="form-control" id="searchVus">
                      <option>не выбрано</option>
                      {% for vus in vuses %}
                      <option>{{vus.to_string()}}</option>
                      {% endfor %}
                  </select>
                </div>
            </td>

            <td>
                <div align='center'>
                    <input type="checkbox" name="is_approved" value="0" id="searchIsApproved">
                </div>
            </td>
            <td>
                <button class="btn btn-success btn-file" id="search-btn">Найти</button>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-hover table-striped" id="user-search-result">
        <div align="center"><h3>Результаты поиска</h3></div>
        <thead>
            <tr> 
                <th>Год поступления</th>
                <th>Фамилия</th>
                <th>ВУС</th>
                <th>Анкета одобрена</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
    <div align="center" id="div_empty_result"></div>

</div>

{% endblock %}