{% extends "base.html" %}
{% block content %}

<button class="btn single btn-lg btn-success" style="position: fixed; right: 20px; top: 3px; padding: 10px;" onclick="logout()">Выйти</button>

<div class="ag-hor-center ag-bottom-spacing">
    {% if quiz_status == quiz_states['APPROVED'] %}
        <div class="alert alert-success" >&nbsp Анкета одобрена &nbsp</div>
    {% elif quiz_status == quiz_states['NOT_CHECKED'] %}
        <div class="alert alert-warning" >&nbsp Имеются непроверенные секции &nbsp</div>
    {% elif quiz_status == quiz_states['NOT_FILLED']%}
        <div class="alert alert-info" >&nbsp Имеются незаполненные поля &nbsp</div>
    {% else %}
        <div class="alert alert-danger" >&nbsp Анкета отклонена &nbsp</div>
    {% endif %}

<!--- COMMON -->   
    <input id="user_id" type="hidden" value="{{ user_id }}">

    {% for section in sections %}
    {% if section.is_fixed %}
    <div class="section fixed_section"> 
        {% if section.table_name in admin_sections %}
        <div class="admin_section">
            <h3>{{section.section_name}} <span style="border: 1px solid red;color:red;font-size: 18px;">заполняется администратором</span><br>
            <a class="spoiler-trigger" href="#" onclick="$('#spoiler-section-{{section.section_number}}').toggle();return false;">(развернуть/свернуть)</a>
            {% if section_statuses[section.table_name] == table_states['APPROVED'] %}
                <span class="status_span alert-success" style="float:right">&nbsp одобрено &nbsp</span>
            {% elif section_statuses[section.table_name] == table_states['NOT_EDITED']%}
                <span class="status_span" style="float:right;border: 1px solid grey;">&nbsp не заполнялось &nbsp</span>
            {% else %}
                <span class="status_span alert-danger" style="float:right">&nbsp отклонено &nbsp</span>
            {% endif %}
            </h3>
        </div>
        {% else %}
            <h3>{{section.section_name}} <a class="spoiler-trigger" href="#" onclick="$('#spoiler-section-{{section.section_number}}').toggle();return false;">(развернуть/свернуть)</a>
            {% if section_statuses[section.table_name] == table_states['APPROVED'] %}
                <span class="status_span alert-success" style="float:right">&nbsp одобрено &nbsp</span>
            {% elif section_statuses[section.table_name] == table_states['EDITED'] %}
                <span class="status_span alert-warning" style="float:right">&nbsp изменено &nbsp</span>
            {% elif section_statuses[section.table_name] == table_states['NOT_EDITED']%}
                <span class="status_span" style="float:right;border: 1px solid grey;">&nbsp не заполнялось &nbsp</span>
            {% else %}
                <span class="status_span alert-danger" style="float:right">&nbsp отклонено &nbsp</span>
            {% endif %}
            </h3>
        {% endif %}
        <div class="no-display" id="spoiler-section-{{section.section_number}}">
            <form class="section_form" method="post">
                <input name="do" type="hidden" value="{{section.table_name }}">
                <input name="table" type="hidden" value="{{section.table_name}}">
                {% for field in section.fields %}
                    <div class="input-group">
                        <span class="input-group-addon">{{field.rus}}</span>
                        <input class="form-control" name="{{field.eng}}" {% if is_readonly %} readonly="readonly" {% endif %} placeholder="{{field.placeholder}}" type="text" value="{{field.value}}">
                    </div><br>
                {% endfor %}
                {% if not is_readonly %}
                    {% if section.table_name in admin_sections %}
                    
                    <div align="center" class="alert alert-danger ag-hor-center no-display save_result_div" role="alert"></div>
                    <br>
                    <div align="center"> 
                        <button type="submit" class="btn btn-info">Сохранить изменения</button>
                        <button type="button" class="btn btn-danger btn_change_section_state" data="{{ table_states['DECLINED'] }}">Отклонить секцию</button>
                        <button type="button" class="btn btn-success btn_change_section_state approved" data="{{ table_states['APPROVED'] }}">Одобрить секцию</button>
                    </div>
                    {% else %}
                    <div align="center"> 
                        Комментарий:<br> <textarea class="section_comment" placeholder="Добавьте комментарий по неверно заполненным полям" style="width: 450px; height: 50px;">{{ comments[section.table_name] }}</textarea> 
                    </div>
                    <div align="center" class="alert alert-danger ag-hor-center no-display save_result_div" role="alert"></div>
                    <br>
                    <button type="submit" class="btn single btn-info ag-hor-center">Сохранить изменения</button>
                    <br>
                    <div align="center"> 
                        <button type="button" class="btn btn-danger btn_change_section_state" data="{{ table_states['DECLINED'] }}">Отклонить секцию</button>
                        <button type="button" class="btn btn-success btn_change_section_state approved" data="{{ table_states['APPROVED'] }}">Одобрить секцию</button>
                    </div>
                    {% endif %}
                {% endif %}
            </form>
        </div>
        <hr>
    </div> 
    {% else %}
    <div class="section not_fixed_section">
        <h3> {{section.section_name}} <a class="spoiler-trigger" href="#" onclick="$('#spoiler-section-{{section.section_number}}').toggle();return false;">(развернуть/свернуть)</a>
        {% if section_statuses[section.table_name] == table_states['APPROVED'] %}
            <span class="status_span alert-success" style="float:right">&nbsp одобрено &nbsp</span>
        {% elif section_statuses[section.table_name] == table_states['EDITED'] %}
            <span class="status_span alert-warning" style="float:right">&nbsp изменено &nbsp</span>
        {% elif section_statuses[section.table_name] == table_states['NOT_EDITED']%}
            <span class="status_span" style="float:right;border: 1px solid grey;">&nbsp не заполнялось &nbsp</span>
        {% else %}
            <span class="status_span alert-danger" style="float:right">&nbsp отклонено &nbsp</span>
        {% endif %}
        </h3>
        <div class="no-display" id="spoiler-section-{{section.section_number}}">
            <form class="section_form" method="post">
                <input name="do" type="hidden" value="{{section.table_name}}">
                <input name="table" type="hidden" value="{{section.table_name}}">

                <!--- TEMPLATE -->
                <div class="well well-lg section_element_template_div no-display">
                    <button type='button' class='btn_remove_not_fixed_element' style="float:right"><span class=" glyphicon glyphicon-remove"></span></button>
                    <input name="new_element_start" type="hidden" value="new_element_start">
                    {% for field in section.fields %}
                    <div class="input-group">
                        <span class="input-group-addon"> {{field.rus}} </span>
                        <input class="form-control" name="{{field.eng}}"  placeholder="{{field.placeholder}}" type="text" value="">
                    </div>
                    {% endfor %}
                    <input name="new_element_end" type="hidden" value="new_element_end">
                </div>
                <!--- TEMPLATE END-->

                {% if section.filled_fields %}
                {% for filled_field in section.filled_fields %}
                <div class="well well-lg not_fixed_element">
                    <button type='button' class='btn_remove_not_fixed_element' style="float:right"><span class=" glyphicon glyphicon-remove"></span></button>
                    <input name="new_element_start" type="hidden" value="new_element_start">
                    {% for field in filled_field %}
                    <div class="input-group">
                        <span class="input-group-addon"> {{field.rus}} </span>
                        <input class="form-control" name="{{field.eng}}" {%if is_approved or field.is_readonly%} readonly="readonly" {%endif%}  placeholder="{{field.placeholder}}" type="text" value="{{field.value}}">
                    </div>
                    {% endfor %}
                    <input name="new_element_end" type="hidden" value="new_element_end">
                </div>
                <!---
                <div class="well well-lg not_fixed_element">
                    {% for field in filled_field %}
                    <div class="input-group">
                        <span class="input-group-addon"> {{field.rus}} </span>
                        <input class="form-control" name="{{field.eng}}" readonly="readonly" type="text" value="{{field.value}}">
                    </div>
                    {% endfor %}
                </div>
                -->
                {% endfor %}
                {% else %}
                <div align="center" class="well no-elements"> Пользователь не добавил ни одного элемента <br></div>
                {% endif %}
                
                {% if not is_readonly %}
                {% if section.table_name == 'brothers_sisters_children' %}
                    <div class="place_to_insert_element no-display"></div>
                    <div align="center">
                     <button type="button" class="btn" id="btn_add_section_element_brother">Добавить брата</button>
                     <button type="button" class="btn" id="btn_add_section_element_sister">Добавить сестру</button>
                     <button type="button" class="btn" id="btn_add_section_element_son">Добавить сына</button>
                     <button type="button" class="btn" id="btn_add_section_element_daughter">Добавить дочь</button>
                    </div>
                {% elif section.table_name == 'high_education' %}
                    <div class="place_to_insert_element no-display"></div>
                    <div align="center">
                     <button type="button" class="btn" id="btn_add_section_element_bachelor">Добавить бакалавриат</button>
                     <button type="button" class="btn" id="btn_add_section_element_master">Добавить магистратуру</button>
                     <button type="button" class="btn" id="btn_add_section_element_phd">Добавить аспирантуру</button>
                    </div>
                {% elif section.table_name == 'mothers_fathers' %}
                    <div class="place_to_insert_element no-display"></div>
                    <div align="center">
                     <button type="button" class="btn" id="btn_add_section_element_mother">Добавить мать</button>
                     <button type="button" class="btn" id="btn_add_section_element_father">Добавить отца</button>
                    </div>
                {% else %}
                    <button type="button" class="btn single ag-hor-center btn_add_section_element">Добавить</button>
                {% endif %}
                <br>

                <div align="center"> 
                    Комментарий:<br> <textarea class="section_comment" placeholder="Добавьте комментарий по неверно заполненным полям" style="width: 450px; height: 50px;">{{ comments[section.table_name] }}</textarea> 
                </div>
                <div align="center" class="alert alert-danger ag-hor-center no-display save_result_div" role="alert"></div>
                <br>
                <button type="submit" class="btn single btn-info ag-hor-center">Сохранить изменения</button>
                <br>
                <div align="center"> 
                    <button type="button" class="btn btn-danger btn_change_section_state" data="{{ table_states['DECLINED'] }}">Отклонить секцию</button>
                    <button type="button" class="btn btn-success btn_change_section_state approved" data="{{ table_states['APPROVED'] }}">Одобрить секцию</button>
                </div>
                {% endif %}
            </form>
        </div>
        <hr>
    </div>
    {% endif %}
    {% endfor %}
    {% if not is_readonly %}
    <div align="center">
        <div class="alert ag-hor-center no-display" id="div_all_sections_approve" role="alert"></div>
        <button type="button" class="btn btn-success" id="btn_approve_all_sections"> Одобрить все секции пользователя </button>
    </div>
    {% endif %}
</div>

{% endblock %}
