{% extends "base.html" %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="ag-hor-center ag-bottom-spacing">
    <div class="alert alert-warning" role="alert">
        <strong>Статус:</strong> На проверке
    </div>

    <form>
        {% for field in fields %}
            {% if field.eng!="id" and field.eng != "None" %}
                <div class="row list-group">
                    <span class="col-xs-6 list-group-item">{{field.rus}}</span>
                    <span class="col-xs-6 list-group-item"><b>{{field.value}}</b></span>
                </div>
            {%endif%}
        {% endfor %}
        <br>

        <div class="page-header"> <h1>Родственники</h1>
        {% for relative in relatives %}
                <div class="row list-group">
                    <span class="col-xs-6 list-group-item">Кем приходится</span>
                    <span class="col-xs-6 list-group-item"><b>{{relative.membership_name}}</b></span>
                </div>
                <div class="row list-group">
                    <span class="col-xs-6 list-group-item">Фамилия</span>
                    <span class="col-xs-6 list-group-item"><b>{{relative.last_name}}</b></span>
                </div>
                <div class="row list-group">
                    <span class="col-xs-6 list-group-item">Имя</span>
                    <span class="col-xs-6 list-group-item"><b>{{relative.first_name}}</b></span>
                </div>
                <div class="row list-group">
                    <span class="col-xs-6 list-group-item">Отчество</span>
                    <span class="col-xs-6 list-group-item"><b>{{relative.middle_name}}</b></span>
                </div>
                <div class="row list-group">
                    <span class="col-xs-6 list-group-item">Телефон</span>
                    <span class="col-xs-6 list-group-item"><b>{{relative.mobile_phone}}</b></span>
                </div>
                <div class="row list-group">
                    <span class="col-xs-6 list-group-item">Адрес (прописки)</span>
                    <span class="col-xs-6 list-group-item"><b>{{relative.address_registration}}</b></span>
                </div>
                <div class="row list-group">
                    <span class="col-xs-6 list-group-item">Адрес (фактический)</span>
                    <span class="col-xs-6 list-group-item"><b>{{relative.address_usual}}</b></span>
                </div>
                <hr>
                <br>
        {% endfor %}
        </div>

        <textarea id="comment" class="form-control" placeholder="Комментарий"></textarea>
        <br>
    </form>
    <div class="input-group">
        <button class="btn btn-lg btn-success ag-hor-left" onclick="submitApprove({{user_id}})">Одобрить</button>
        <button class="btn btn-lg btn-danger ag-hor-right" onclick="submitComment({{user_id}})">Повторное заполение</button>
    </div>
</div>

{% endblock %}